root = true

[*.cs]
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2254.severity = none
dotnet_diagnostic.IDE0058.severity = none

