snippet comp F Component
	export const `vim_snippets#Filename()` = (): JSX.Element => {
		${1}

		return (
			${0:<div>LOL</div>}
		);
	};

snippet /** JSDoc
	/**
	 * ${0:description}
	 * @return Comp.
	 */

