* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    min-height: 27px;
}

window#waybar {
    background: #2f343f;
    border-top: 2px solid rgba(100, 114, 125, 0.7);
    color: #ffffff;
    transition-property: background, background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background: transparent;
}

window#waybar.solo {
    background: #FFFFFF;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
    border-top: 2px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-top: 2px solid #ffffff;
}

#workspaces button.focused {
    background: rgba(0, 0, 0, 0.3);
    border-top: 2px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#taskbar button {
    padding: 0 5px;
    color: #ffffff;
    border-top: 2px solid transparent;
}
#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-top: 2px solid #ffffff;
}

#taskbar button.active {
    background: rgba(0, 0, 0, 0.3);
    border-top: 2px solid #ffffff;
}

#clock,
#backlight,
#pulseaudio,
#tray,
#mode
{
    padding: 0 5px;
}

#mode {
    border-top: 2px solid #ffffff;
}
